@{
    ViewData["Title"] = "Home Page v8.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:8.0 - AZ-400 57342</h1>
    <p>My Amazing Web App deployed using GitHub Actions!!!!</p>
</div>
