@{
    ViewData["Title"] = "Home Page v5.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:5.0 - AZ-400 50397</h1>
    <p>My Amazing Web App deployed using GitHub Actions!!!!</p>
</div>
