@{
    ViewData["Title"] = "Home Page v6.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:6.0 - AZ-204 51422</h1>
    <p>My Amazing Web App deployed using GitHub Actions!!!!</p>
</div>
