@{
    ViewData["Title"] = "Home Page v2.1";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:2.2 - AZ-400 47999</h1>
    <p>My Amazing Web App deployed with GitHub Actions!!!!</p>
</div>
