@{
    ViewData["Title"] = "Home Page v4.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:4.0 - AZ-400 50210</h1>
    <p>My Amazing Web App deployed with GitHub Actions!!!!</p>
</div>
