@{
    ViewData["Title"] = "Home Page v1.0 - 77314";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:1.0 - AZ-2008 - 79550</h1>

    <p>My Amazing Web App deployed using GitHub Actions!!!!</p>
</div>
