@{
    ViewData["Title"] = "Home Page v3.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:3.0 - AZ-400 48740</h1>
    <p>My Amazing Web App deployed with GitHub Actions!!!!</p>
</div>
