@{
    ViewData["Title"] = "Home Page v7.0";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:7.0 - AZ-400 53225</h1>
    <p>My Amazing Web App deployed using GitHub Actions!!!!</p>
</div>
