@{
    ViewData["Title"] = "Home Page v7.1";
}

<div class="text-center">
    <h1 class="display-4">Welcome v:7.1 - AZ-400 54216</h1>
    <p>My Amazing Web App deployed using GitHub Actions!!!!</p>
</div>
